{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "simple-import-sort"
  ],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "rules": {
    "quotes": ["warn", "double"],
    "semi": ["warn", "never"],
    "simple-import-sort/imports": "warn",
    "simple-import-sort/exports": "warn"
  }
}
