{
  "root": true,
  "env": {
    "browser": true
  },
  "extends": [
    "eslint:recommended"
  ],
  "rules": {
    "quotes": ["warn", "double"],
    "semi": ["warn", "never"]
  },
  "parserOptions": {
    "ecmaVersion": "latest",
    "sourceType": "module"
  }
}
